@import "tailwindcss";
/* @plugin "daisyui"; */
@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@layer components {
  .align-element {
    @apply mx-auto max-w-6xl px-8;
  }
}
/* ******************************* */
/* Add to your global CSS */
/* Add this to your global CSS file */
.Toastify__toast-container {
  touch-action: pan-y;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.Toastify__toast {
  touch-action: pan-y;
}
/* for loading */
/* Add to your CSS file */
@keyframes progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-progress {
  animation: progress 2s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
}

.animate-wave {
  animation: wave 1.5s ease-in-out infinite;
}
